# Ignore large files
# Ignore Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
.venv/

config/copangraphs/
workflow/out/
.snakemake/
.DS_Store
workflow/.DS_Store
.Rproj.user
.R*
.Rmd
