# Ignore large files
# Ignore Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
.venv/
.idea/


config/copangraphs/
workflow/out/
.snakemake/
*.DS_Store
*.fasta
*.gfa

# Ignore all R-related files except .Rmd files
*.Rproj.user
*.RData
*.Rhistory
*.Rproj
*.RDS

# Allow .Rmd files to be tracked
!*.Rmd
